---
const personalImageAlt = "Sebastian Becerra Durand";

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-first"
  >
<p>
      Soy Sebastian Uriel Becerra, estudiante de <strong
        >Ingeniería de Software</strong> en la UPC, enfocado en desarrollo web front-end. Mi objetivo es combinar
      diseño y funcionalidad para crear experiencias de usuario rápidas y adaptables.
    </p>

    <p>
      En mis proyectos <strong
        >he utilizado tecnologías como HTML, CSS, JavaScript y Astro, junto con
        bases de datos SQL y MongoDB</strong
      >. Un ejemplo es MediAR, una landing page para una plataforma de VR a la
      que integré animaciones y formularios conectados con App Script.
    </p>

    <p>
      Actualmente,<strong>
        lidero la digitalización de procesos administrativos en una empresa
        familiar, gestionando finanzas y logística</strong
      >. Busco unirme a un equipo profesional para seguir desarrollándome y
      aportar en la creación de soluciones tecnológicas eficientes.
    </p>
  </div>

  <img width="200" height="200" src="/images-important/sebasdev.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


 
