---
const personalImageAlt = "Sebastian Becerra Durand";

import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";
import LanguageToggle from "../components/LanguageToggle.astro";
type Lang = keyof typeof languageList;

const currentLang = (Astro.currentLocale ?? "es") as Lang;
const translateLabels = useTranslations(currentLang);


---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-first"
  >
<p set:html= {translateLabels("aboutme.paragraph1")}>
    
    </p>

    <p set:html= {translateLabels("aboutme.paragraph2")}>
    </p>

    <p set:html= {translateLabels("aboutme.paragraph3")}>
    </p>
  </div>

  <img width="200" height="200" src="/images-important/sebasdev.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


 
