---
import ExperienceItem from "./icons/ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Actualidad",
    title: "Gestión Administrativa y Finanzas – Transporte Sebas",
    description:
      "Encargado del área de finanzas y apoyo en logística. Lideré la digitalización de procesos de facturación mediante plantillas automatizadas, mejorando la eficiencia administrativa. Actualmente gestiono reportes financieros y organizo rutas de transporte, con planes de desarrollar una aplicación web para optimizar la planificación.",
    link: "#",
  },
  {
    date: "2024 - 2025",
    title: "Mediar – Landing page VR Simulation",
    description:
      "Proyecto personal: desarrollo de una landing page responsiva con HTML, CSS, JavaScript y Bootstrap. Incluye animaciones, formularios conectados a Excel Online mediante App Script, integración de un sistema de mapeado y despliegue en Netlify.",
  },
  {
    date: "2023 – Presente",
    title: "Exploración en WordPress y Wix",
    description:
      "Proyectos personales de aprendizaje en diseño y personalización de sitios web, adquiriendo experiencia práctica en SEO básico y funciones de comercio electrónico.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
