---
import ExperienceItem from "./icons/ExperienceItem.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";
import LanguageToggle from "../components/LanguageToggle.astro";
type Lang = keyof typeof languageList;

const currentLang = (Astro.currentLocale ?? "es") as Lang;
const translateLabels = useTranslations(currentLang);

const EXPERIENCIE = [
  {
    date: translateLabels("experiences.job1.date"),
    title: translateLabels("experiences.job1.title"),
    description: translateLabels("experiences.job1.description"),
    link: "#",
  },
  {
    date: translateLabels("experiences.job2.date"),
    title: translateLabels("experiences.job2.title"),
    description: translateLabels("experiences.job2.description"),
    link: "#",
  },
  {
    date: translateLabels("experiences.job3.date"),
    title: translateLabels("experiences.job3.title"),
    description: translateLabels("experiences.job3.description"),
    link: "#",
    },
 
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />

      </li>
    ))
  }
</ol>
